header{
    grid-area: cabe;
    border: 2px rebeccapurple;
}
 
aside{
    grid-area: brac;
    border: 2px  red;
}

main{
    grid-area: prin;
    border: 2px palevioletred;
}

footer{
    grid-area: roda;
    border: 2px blue;
}

body{
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "branc prin prin"
    "roda roda roda";
    grid-template-rows: 100px auto 200px;
}

header img{
    height: 190px;
    width: auto;
}

header nav{
    position: absolute;
    right: 0px;
    top: 100px;
}

header li{
    display: inline;
    margin: 25px;
}

