header{
    grid-area: cabe;
    background-color: rgb(204, 123, 214);
    color: black;
}
aside{
    grid-area: brac;
    background-color: rgb(165, 121, 221);
}
main{
    grid-area: prin;
    background-color: rgb(234, 75, 240);
}
footer{
    grid-area: roda;
    background-color: #00a2ff67;
}
section{
    grid-area: secn;
    background-color: rgba(127, 255, 212, 0.884);
    display: none;
}
body{
    display: grid;
    grid-template-areas: 
    "cabe cabe"
    "brac prin"
    "roda roda";
    grid-template-rows: 200px 500px 200px;
    grid-template-columns: 300px auto;
}
header img{
    height: 150px;
    width: auto;
}
@media only screen and (max-width: 820px) {
    body{
        grid-template-areas: 
        "cabe"
        "brac"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 200px 50px 500px 200px;
    }   
    header img{
        display: none;
    } 
}
@media only screen and (max-width: 480px) {
    body{
        grid-template-areas: 
        "secn"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px 100px;
    }
    section{
        display: flex;
    }
    aside{
        display: none;
    }
    header{
        display: none;
    }
    
}