body{
    display: grid;
    text-align: center;
    grid-template-areas: 
    "cabe cabe cabe"
    "branc prin prin"
    "roda roda roda";
  
    background-color: pink;
}

header{
    grid-area: cabe;
    border: 2px rebeccapurple;
}
 
aside{
    grid-area: brac;
    border: 2px  red;
}

main{
    grid-area: prin;
    border: 2px palevioletred;
}

footer{
    grid-area: roda;
    border: 5px blue;
}

header img{
    height: 190px;
    width: auto;
}

header nav{
    border: brown 2px solid;
    position: absolute;
    right: 0px;
    top: 100px;
}

